<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8">
        <link rel="stylesheet" href="../../css/common.css" />
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Roboto|Source+Sans+Pro&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    </head>
    <body>
        <div id = 'top'>
            <span id = "title" class="logo"><strong>One Connect</strong></span>
            <span><button class = 'fa fa-gear settings-button' onclick="window.location.href='#'"></button></span>
            <span><button class='fa fa-question-circle' onclick='window.location.href="/help?role=admin"'></button></span>
             <span id='info' th:text="${userName}"></span>
            <br/><span style="float:right;">Kettering University</span>
        </div>
        
        <div class ='columns'>

            <div class = 'adminColumn'>
                <div>
                    <h2>Quick Links</h2>
                    <hr>
                    <ul>
                        <li><a href="admincontrolpanel.html">Admin Settings</a></li>
                        <li><a href="usermanagement.html">User Management</a></li>
                        <li><a href="#" onclick="$('#roleForm').submit()">Role Management</a></li>
                        <li><a href = "/help?role=admin" target="_blank">Help Page <i class='fa fa-question-circle'></i></a></li>
                    </ul>
                </div>
                

            </div>


        </div>
        <form action="/roleManagement" method="POST" id="roleForm">
            <input type='hidden' id='id' name='id' th:value='${userId}'/>
            <input type='hidden' id='role' name='role' th:value='${role}'/>
        </form>
        <script>
            function openHelp() {
                console.log("frick!");
                window.open(
                    '/help?role=admin',
                    '_blank'
                )
            }
        </script>
    </body>
</html>