<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head >

    <link rel="stylesheet" th:href="@{/CSS/exam.css}" />
    <link rel="stylesheet" th:href="@{/CSS/common.css}" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Roboto|Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script>
        $(function(){
            $.ajax({
                url:"/getStudentClassGrades",
                data:{studentId:$("#id").val(), classId:$("#classId").val()},
                success: updateTable
            })
        });
        function updateTable(grades){
            $("#gradesRows").empty();
            var gradesTable = "";
            for(var i = 0; i < grades.length; i++){
                gradesTable += "<tr><td>"+grades[i].assignment+"</td><td>" + grades[i].score + "/"+grades[i].assignmentTotal+"</td></tr>"
            }
            $("#gradesRows").append(gradesTable);
        }
    </script>
</head>

<body>
<div id='top'>
    <span id="title" class="logo"><strong>One Connect</strong></span>
    <span><button class='fa fa-gear settings-button' onclick="window.location.href='#'"></button></span>
    <span id='info'><span th:text="${name}"></span><br/><span th:text="${school}"></span></span>
</div>



<div class=classheader>
    <a href="#" onclick="$('#form').submit()">Home</a>
    <i class="fa fa-chevron-right header-chevron"></i>
    <a href="#" onclick="$('#courseForm').submit()">Course</a>
    <i class="fa fa-chevron-right header-chevron"></i>
    <a>My Grades Overview</a>
</div>




<div class='columns'>

    <div class='box'>
        <div>
            <h2>My Grades Overview</h2>


            <div class="exams-table">

                <table id = "gradesTable">
                    <thead>
                    <tr>
                        <th align=left>Assignment</th>
                        <th aligh=left>Grade</th>
                    </tr>
                    </thead>

                    <tbody id="gradesRows">




                    </tbody>
                </table>
            </div>
        </div>




    </div>
    <form action="/landing" method="POST" id="form">
        <input type='hidden' id='id' name='id' th:value='${userId}'/>
        <input type='hidden' id='role' name='role' th:value='${role}'/>
    </form>
    <form action="/course" method = "GET" id="courseForm">
        <input type="hidden" id="courseId" name ="courseId" th:value="${classId}" />
        <input type='hidden' id='courseUserId' name='id' th:value='${userId}'/>
        <input type='hidden' id='courseRole' name='role' th:value='${role}'/>
    </form>
</div>
</body>

</html>
