<html>
    <head>
        
        <link rel="stylesheet" href="../../css/common.css" />
        <link rel="stylesheet" href="../../css/helpPages.css" />
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Roboto|Source+Sans+Pro&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>

    <body>
        <div id = 'top'>
            <span id = "title" class="logo"><strong>One Connect</strong></span>
            <!--<span><button class = 'fa fa-bell notifications-button' onclick="window.location.href='../notifications.html'"></button></span>-->
            <span><button class = 'fa fa-gear settings-button' onclick="window.location.href='../site-settings.html'"></button></span>
            <span id='info' th:text="${userName}"></span>
            <br/><span style="float:right;">Kettering University</span>
        </div>

        <div class = 'box'>
            <div class = 'hTitle'>Parent Help</div>
            <hSection>View your student's grades<br></hSection>
            <hBody>Click "My Student's Grades" from the homepage.
                Then, you can view the percentage grade and letter grade for each assignment from each class.<br><br></hBody>


        </div>