<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{/CSS/login.css}" />
        <link rel="stylesheet" th:href="@{/CSS/common.css}" />
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Roboto|Source+Sans+Pro&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
    <body>
    <script>
            console.log("Man, this website sure is secure...");
            function send() {
                $.ajax({
                    url:"/login",
                    data:{user:$("#user").val(), pass:$("#pass").val()},
                    success:function(r) {
                        if(r.id==="-1") {
                            alert("Invalid Login Provided!")
                        } else {
                            $("#id").val(r.id);
                            if (r.roles.length > 1) {
                                $("#info").empty();
                                var selectRole = "<label for='roleSelect'>Select Role: </label><br/><select id='roleSelect'>";
                                for(var i = 0; i< r.roles.length; i++) {
                                    selectRole+="<option value = '"+r.roles[i]+"'>"+r.roles[i]+"</option>";
                                }
                                selectRole+="</select><br/><button onclick = 'submit()'>Submit</button>";
                                $("#info").append(selectRole);
                            } else {
                                $("#form").submit();
                            }
                        }
                    }
                });
            }
            function submit() {
                $("#role").val($("#roleSelect").val());
                $("#form").submit();
            }
        </script>
        <div id ="top"><strong id="title">One Connect</strong></div>
        <div class = "background">
            <div id = "info" class = "info">
                <br/>
                <div>
                    <label for = "user">Username:</label>
                    <input type = "text" id ="user"/>
                </div>
                <br/>
                <div>
                    <label for = "pass">Password:  </label>
                    <input type = "password" id ="pass"/>
                </div>
                <button id ="login" onclick="send()">Login</button>
            </div>
		</div>

    <form action="/landing" method="POST" id="form">
        <input type="hidden" id="id" name="id" value=""/>
        <input type="hidden" id="role" name="role" value="default"/>
    </form>
    </body>
</html>