<!DOCTYPE html>
<html lang="en">
    <head>
        
        <link rel="stylesheet" href="../css/common.css" />
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Roboto|Source+Sans+Pro&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>
    
    <body>
        <div id = 'top'>
            <span id = "title" class="logo"><strong>One Connect</strong></span>
            <span><button class = 'fa fa-gear settings-button'></button></span>
            <span id='info' th:text="${userName}"></span>
            <br/><span style="float:right;">Kettering University</span>
        </div>
        
        <div class ='columns'>

            <div class = 'column'>
                <div>
                    <h2>Quick Links</h2>
                    <hr>
                    <ul>
                        <li><a href="">Grades</a></li>
                        <li><a href="">Notificiations</a></li>
                        <li><a href="">Chat Rooms</a></li>
                        <li><a href="">File Repository</a></li>
                    </ul>
                </div>
                

            </div>

            <div class = 'column'>
                <div>
                    <h2>Classes</h2>
                    <hr>
                    <ul id="courseTable">
                    	<li th:each="course: ${courseNames}"><a href="" th:text="${course}"></li>
                    	
                       <!--  <li><a href="">CS-385 Introduction to Game Design - MR 8:30-10:05</a></li>
                        <li><a href="">CS-385 Introduction to Game Design Lab - W 8:00-10:00</a></li>
                        <li><a href="">CS-471 Software Engineering - MR 1:20-2:55</a></li>
                        <li><a href="">CS-471 Software Engineering Lab - W 1:20-3:25</a></li>
                        <li><a href="">EP-235 Computers in Physics - T 8:00-10:05 MR 10:15-12:20</a></li>
                        <li><a href="">HUMN-391 Special Topics in Humanities - TF 10:15-12:20</a></li> -->
                    </ul>
                </div>
            </div>
            <div class = 'column'>
                <div id = 'eventCalendar'>
                    <h2>Announcements</h2>
                    <hr>
                    <a id ="cal" href='calendar.html'>View Full Calendar</a>
                </div>
                <ul id ='announce'>
                    <li>New assignment due in some class</li>
                    <li>New assignment due in some class</li>
                    <li>New assignment due in some class</li>
                    <li>New assignment due in some class</li>
                </ul>
            </div>
        </div>
    </body>
    
    <footer>
                <input type='hidden' id='id' name='id' th:value='${userId}'/>
    </footer>
</html>